

.lpbg {
  position: fixed;
  width: 100%;
  height: 100%;
  }

  .startgame {
      position: fixed;
      font-size: 50px;
      color: blanchedalmond;
      top:45%;
      left: 41%;

  }

 .start {
    position: fixed;
    width: 20%;
    left: 50%;
    top: 50%;
    margin-left: -10%;
    font-family: 'Titan One';
    font-size:5vw;
    background-color: blanchedalmond;
    color: rgb(90, 170, 207) ;
    border-radius: 30px 30px 30px 30px;
    z-index: 1200;
    cursor: pointer;
    
  }

