
.landing { 
    
  width: 100vw;
  height: 100vh;
  background-repeat: center;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}


  .startgame {
      position: fixed;
      font-size: 50px;
      color: blanchedalmond;
      top:45%;
      left: 41%;
      
  }
  a:link {
    text-decoration: none;
}
 .start {
    position: fixed;
    width: 20%;
    left: 50%;
    top: 50%;
    margin-left: -10%;
    font-family: 'Titan One';
    font-size:5vw;
    background-color: blanchedalmond;
    color: rgb(90, 170, 207) ;
    border-radius: 30px 30px 30px 30px;
    z-index: 1200;
    cursor: pointer;
    
  }

