@keyframes animate
{
  0% {
      top:-10%;
  }
  100% {
         
    top:100%;    
  }
  
} 
.game4 .gamebg {
    width: 100vw;
    height: 100vh;
    background-repeat: center;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.game4 {
    position: relative;
    display: inline-block;
}

   .game4 .nww {
       position: fixed;
       bottom:20%;
       z-index: 2400;
   }
.game4 #timer{
    color: blanchedalmond;
    font-size: 10vh;
    z-index: 1000;
    position: fixed;
    top: 90%;
    left: 90%;

  }
  .game4 .footer { 
      height: 200px;
      bottom: 0;
      width:100%;
      left:0;
      text-align: center;
      margin: 200px 0px 0px 0px;
  
  }
 
  
  .adBLock {
      position: fixed;
      color: blanchedalmond;
      background-color: black;
      width:19vw;
      height: 80vh;
      top:10%;

  }
  .adBLock2{
    position: fixed;
    color: blanchedalmond;
    background-color: black;
    width:19vw;
    height: 80vh;
    right:0%;
    top:10%;

}

  .game4 .backgroundSno2 {
    position: fixed;
    width: 250%;
    height:100%;
    left: 0%;
  }
  
  .game4 body { 
  
    position: relative;
    width: 1499px;
    height: 1065.75px;
    margin-left: 100px;
    margin-top: 200px;
    transform: scale(.6);
    transform-origin: 0 0;
    
    /* background-repeat: center; */
    /* background-position: center; */
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    
  }
.bgbg {
background-color: rgb(43, 159, 226);
width: 100vw;
height: 100vh;
}
  .game4 #time{
      
    font-size: 30px;
  }

 body {
      text-align: center;
      background-size: cover;
      background-position: center;
      color: black;
      font-family: 'Titan One';
      overflow: hidden;
    }

    .game4 .hide {
       display: none;
   }
   .game4 .net {
    background-repeat: no-repeat;
    z-index: 1000;
   }
   .game4 .answers {
        position: fixed;
        font-size: 5vh;
        height: 50%;
        top: 0%;
        width: 100%;
        z-index: 800;
        display: flex;
        flex-wrap: wrap;
        
    }

    .game4 .house {
        width: 25%;
        cursor: crosshair;  
    }


    .game4 .house .icecubeWrapper {
        width:80%;  
        display: inline-block;
        position: relative;
    }

    .game4 .house .icecubeWrapper .icecube {
        width: 100%;   
        position: absolute;
        left:0px;
        top: 0px;
    }
    .game4 .house .icecubeWrapper .answer {
        position: absolute;
        color: #333;
        font-size: 5vh;
        left: 25%;
        margin-top: 5%;
    }
    
    .game4 .house .icecubeWrapper .net {
        position: absolute;
        width: 50%;
        margin-top: 16%;
    }
  
    
    /* .answers div {
        font-size: 7vh;
        font-family: 'Titan One', cursive;
        width: 20%;
        color: black;
        cursor: crosshair;
        z-index: 600;
    } */
  
    .game4 .problem p {
        position: fixed;
        border-radius: 0%;
        color: white;
        text-shadow: 20px 20px 20px black, 0 0 5px blue, 0 0 5px darkblue;
        font-size:9vw;
        width: 40%;
        left: 35%;
        top: 5%;
        font-family: 'Titan One';
        z-index: 800;
        cursor: crosshair; 
        margin-top: 0%;
        margin-bottom: 0%;
    }
   
    .game4 .start {
    position: fixed;
    width: 20%;
    left: 50%;
    top: 50%;
    margin-left: -10%;
    font-family: 'Titan One';
    font-size:5vw;
    color: rgb(90, 170, 207) ;
    border-radius: 30px 30px 30px 30px;
    z-index: 800;
    cursor: pointer;
    
  }
  
  .game4 .boss {
    position: fixed;
    width: 30%;
    left: 50%;
    top: 0;
    margin-left: -15%;
    z-index: 900;
  }
 


  .game4 .house .a0 {
    position: fixed;
    width: 10%;
    top: 40%;
    animation: animate 15s linear infinite;
    
    
}
 
.game4 .house .a0 .answer {
    left: 50%;
  
} 
.game4 .house .a0 .net{
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    transform: rotatey(1deg);
} 



.game4 .house .a1 {
    position: fixed;
    width: 10%;
    left:25%;
    top: -24%;
    animation: animate 25s linear infinite;
}
 
.game4 .house .a1 .answer {
    left: 50%;
} 
.game4 .house .a1 .net {
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    transform: rotatey(1deg);
} 

.game4 .house .a2 {
    position:fixed;
    width: 10%;
    top: -52%;
    left: 67%;
    animation: animate 14s linear infinite;
}
.game4 .house .a2 .icecube {
    transform: rotateY(180deg);
}
.game4 .house .a2 .answer {
    left: 32%;
} 
.game4 .house .a2 .net {
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    
} 



.game4 .house .a3 {
    position: fixed;
    width: 10%;
    top: 35%;
    left: 85%;
    animation: animate 29s linear infinite;
}
.game4 .house .a3 .icecube {
    transform: rotateY(180deg);
}
.game4 .house .a3 .answer {
    left: 37%;
} 
.game4 .house .a3 .net{
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    transform: rotatey(1deg);
} 

.game4 .house .a4 {
    position: fixed;
    width: 10%;
    top: -14%;
    animation: animate 28s linear infinite;
}
 
.game4 .house .a4 .answer {
    left: 50%;
} 
.game4 .house .a4 .net {
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    transform: rotatey(1deg);
} 

.game4 .house .a5 {
    position: fixed;
    width: 10%;
    top: -63%;
    animation: animate 17s linear infinite;
}
 
.game4 .house .a5 .answer {
    left: 35%;
} 
.game4 .house .a5 .net {
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    transform: rotatey(1deg);
} 

.game4 .house .a6 { 
    position: fixed;
    width: 10%;
    top: -43%;
    left: 72%;
    animation: animate 17s linear infinite;
    
}
.game4 .house .a6 .icecube {
    transform: rotateY(180deg);
}
.game4 .house .a6 .answer {
    left: 37%;

} 
.game4 .house .a6 .net {
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    transform: rotatey(1deg);
} 

.game4 .house .a7 {
    position: fixed;
    width: 10%;
    top: 0%;
    left: 69%;
    animation: animate 25s linear infinite;
}
.game4 .house .a7 .icecube {
    transform: rotateY(180deg);
}
.game4 .house .a7 .answer {
    left: 37%;
} 
.game4 .house .a7 .net {
    width: 704%;
    margin-top: -125%;
    margin-left: -341%;
    transform: rotatey(1deg);
} 

.game4 .nextLevel {
  position: fixed;
  width: 20%;
  left: 50%;
  top: 62%;
  margin-left: -10%;
  font-family: 'Titan One';
  font-size:5vw;
  color: rgb(90, 170, 207) ;
  border-radius: 30px 30px 30px 30px;
  z-index: 1000;
  cursor: pointer;
 }
  
.game4 .heart {
      float: right;
      height: 7%;
      Width: 7%;
  }
  
  
  .game4 .win 
   {
    width: 30%;
    position: fixed;
    margin-left: 35%;
    text-align: center;
    top: 10%;
    font-family: 'Titan One';
    font-size: 5vh;
    color: rgb(90, 170, 207) ;
    border-radius: 5%;
    background-color: cornsilk;
    z-index: 9000;
   }
   .game4 .lose {
    width: 30%;
    position: fixed;
    margin-left: 35%;
    text-align: center;
    top: 10%;
    font-family: 'Titan One';
    font-size: 5vh;
    color: rgb(90, 170, 207) ;
    border-radius: 5%;
    background-color: cornsilk;
    z-index: 9000;
     
  
   }
    