body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.landing { 
    
    width: 100vw;
    height: 100vh;
    background-repeat: center;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }

  .planetWrapper {
    width: 50%;
    position: fixed;
    margin-left: 30%;
    text-align: center;
    top: 0%;
    font-family: 'Titan One';
    font-size: 5vh;
    color: rgb(90, 170, 207) ;
    z-index: 9000;
  }
  
  .snoconPlanet {
    width: 50vw;
    
    position: fixed;
    margin-left: -25%;
    text-align: center;
    top: 0%;
    font-family: 'Titan One';
    
    color: rgb(90, 170, 207) ;
    z-index: 9000;
  }
  .glitter {
    width: 80%;
    position: relative;
    left: -41%;
    margin-top: -90%;
    font-family: 'Titan One';
    font-size: 5vh;
    color: rgb(90, 170, 207);
    z-index: 9000;
  }
  .greenLevel1 {
    width: 28%;
    position: relative;
    left: -41%;
    text-align: center;
    margin-top: 28%;
    font-family: 'Titan One';
    font-size: 5vh;
    color: rgb(90, 170, 207);
    z-index: 10000;
  }
  .greenLevel1:hover { 
      transform: scale(1.1); 
    }
.bg {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

.landing .h1 {
   text-align: center;
   background-color: teal;

}
.welcome {
    position: fixed;
    text-align: center;
    color: white;
    top:0%;
    left:50%;
    z-index: 1000;
}

.sg1 {
    position: fixed;
    font-size: larger;
    top: 40%;

    color: white;
}

.sg2 {
    position: fixed;
    font-size: larger;
    top: 50%;
    color: white;
}

.sg3 {
    position: fixed;
    font-size: larger;
    top: 60%;
    color: white;
}




