.duckRace { 
    
  width: 100vw;
  height: 100vh;
  background-repeat: center;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}


  
  
  .duckRace .footer { 
        height: 200px;
        bottom: 0;
        width:100%;
        left:0;
        text-align: center;
        margin: 200px 0px 0px 0px;
    
    }
  
    .duckRace .brownBox {
      position: fixed;
      top: -20%;
      left: 62%;
      z-index: 1000;
      width: 44%;
    }

    .duckRace .brownBox .smokers {
      position: fixed;
      margin-top:-37%;
      left: 60%;
      z-index: 500;
      width: 30%;
    }
    

    .duckRace .brownBox .ybox {
      position: fixed;
      border-radius: 0%;
      color: black;
      width: 11.2%;
      left: 57.5%;
      top: 0%;
      z-index: 800;
      cursor: crosshair;
      margin-top: 0%;
      margin-bottom: 0%;
  }
  
  .duckRace .create {
    position: fixed;
    border-radius: 0%;
    color: black;
    /* text-shadow: 20px 20px 20px black, 0 0 5px rgb(9, 148, 28), 0 0 5px darkblue; */
    font-size: 10vw;
    width: 13%;
    left: 69.5%;
    top: 0%;
    margin-top: 5%;
    font-family: 'Titan One';
    font-size: 3.2vw;
    color: #29a510;
    z-index: 1500;
    cursor: pointer;
  
  }



    
  /* .duckRace .cocoaAndOutput {
      position: relative;
      margin-top: -57%;
      width: 100%;
      color: white;
      height: 33%;
      z-index: 900;
      margin-left: -9%;
  } */
  
  .duckRace .cocoa {
    position: relative;
    margin-top: 16%;
    left: -3%;
    width: 30%;
    }
  
    .duckRace .output {
      position: fixed;
      border-radius: 0%;
    color: black;
    /* text-shadow: 20px 20px 20px black, 0 0 5px rgb(9, 148, 28), 0 0 5px darkblue; */
    font-size: 5vw;
    width: 13%;
    left: 57%;
    top: 1%;
    z-index: 800;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 0%;
    font-family: marvin-round, sans-serif;
    font-style: normal;
    
    }
    
  .duckRace .greenBoxAndGif {
    position: relative;
    top: 51%;
    left: 5%;
    z-index: 1000;
    width: 30%;
  }

    .duckRace .greenBox {
      position: fixed;
      top: 51%;
      left: 5%;
      z-index: 1000;
      width: 30%;
    }
    .duckRace .greenBox .choco {
      position: fixed;
      top: 65%;
      left: -.4%;
      z-index: 1200;
      width: 10%;
    }
  
    .duckRace .greenBox .gbox {
      position: relative;
      width:50vw;
      height: 100vh;
      margin-top:-69%;
      margin-left: -15%;
      z-index: 300;
    }
    
  
  
  
    .duckRace .penguinIcecream {
      margin-top: -85%;
      left: -22%;
      width: 78vw;
      /* background: black; */
      height: 115vh;
      z-index: 1200;
      position: absolute;
    } 
  
  
    .duckRace .container {position: relative;}
  
    
  
    .duckRace .greenLight {
      height: 100px; 
      width: 100px; 
      background-color: #777;
      position: absolute;
      left: 5px;
      top: 5px;
      opacity: 0;
      z-index: 1000;
  }
  
  
  
  
  .duckRace .createMachine {
      position: fixed;
      width: 38%;
      height: 27%;
      left: 3%;
      top: 56%;
      background: lightgrey;
      z-index: 400;
    }
  
    @-webkit-keyframes demo {
      0% {
          background-color: green;
          opacity:1;
      }
      22% {
          background-color: greenyellow;
      }
      77% {
          background-color: greenyellow;
      }
      100% {
          background-color: greenyellow;
      }
  }
      
  .duckRace .demo {
      -webkit-animation-name: demo;
      -webkit-animation-duration: 900ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out;
  }    
  
  
  
  
  .duckRace  { 
      background-image: ('../StudyPup_assets/Ice_Cream_Game_Background.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow: hidden;
    }
/*     
    .duckRace #timer{
        
      font-size: 30px;
      z-index: 1000;
      position: fixed;
      top: 0%;
      left: 50%;
  
    } */
    
    /* .snowball {
        width: 5%;
        position:absolute;
          top:90%;
          left:40%;
          z-index:1000;
  
    } */
    .duckRace body {
       
        font-family: 'Titan One';
        /* overflow: hidden; */
      }
  
      .duckRace .hide {
         display: none;
     }
     .duckRace .penguin {
      background-repeat: no-repeat;
      z-index: 1000;
     }
      .answers {
          position: fixed;
          font-size: 5vh;
          height: 20%;
          top: 29%;
          width: 67%;
          z-index: 800;
          display: flex;
          flex-wrap: wrap;
    
      }
  
      /* .house {
        position: relative;
        width: 38%;
        height: 59%;
        right: -73%;
        bottom: 141%;
        cursor: crosshair;
            
      } */
  
      /* .duckRace .guessCounter {
        position: relative;
        left:6%;
        margin-top: 9%;  
        width:30vw;
        z-index: 1000;
      } */
  
      /* .duckRace .countDown {
        position: absolute;
        width: 17%;
        margin-top: -75%;
        left: 83%;
        z-index: 500;
      } */
  
      .duckRace .countDown{
        position: fixed;
        border-radius: 0%;
        color: black;
        /* text-shadow: 20px 20px 20px black, 0 0 5px rgb(9, 148, 28), 0 0 5px darkblue; */
        font-size: 10vw;
        width: 7%;
        left: 60%;
        top: 3%;
        z-index: 900;
        cursor: pointer;
        margin-top: 8%;
        margin-bottom: 0%;
      
      }
  
  
  
      /* .duckRace .countUp {
        position: absolute;
        width: 17%;
        margin-top: -75%;
        left: 83%;
        z-index: 500;
      }
   */
      .duckRace .countUp {
        position: fixed;
        border-radius: 0%;
        color: black;
        /* text-shadow: 20px 20px 20px black, 0 0 5px rgb(9, 148, 28), 0 0 5px darkblue; */
        font-size: 10vw;
        width: 7%;
        left: 60%;
        top: 1%;
        z-index: 900;
        cursor: pointer;
        margin-top: 0%;
        margin-bottom: 0%;
    
    }
  
  
    .duckRace .house .iglooWrapper {
          width:90%;  
          display: inline-block;
          position: relative;
         
      }
  
      .duckRace .house .iglooWrapper .scoop {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
      }
      .duckRace .house .iglooWrapper .answer {
        position: absolute;
        color: #333;
        font-size: 5vh;
        left: 45%;
        margin-top: 11%;
        z-index: 1000;
      }
      .duckRace .house .iglooWrapper .penguin {
          position: absolute;
          width: 50%;
          margin-top: 16%;
  
      }
    
      
      .answers div {
          font-size: 7vh;
          font-family: 'Titan One', cursive;
          width: 20%;
          color: black;
          cursor: crosshair;
          z-index: 800;
      }

      .duckRace .pinkBoxAndGif {
        position: fixed;
        width: 40%;
        left: 11%;
        top: 7%;
        z-index: 1000;
      }
      .duckRace .pinkBoxAndGif .pinkBox {
        position: fixed;
        width: 40%;
        /* left: 11%;
        top: 13%;
        z-index: 1000; */
  
      }
      .duckRace .pinkBoxAndGif .spinner{
        position: fixed;
        margin-top: 17%;
        left:15%;
        z-index: 500;
        width: 23%;
      }
  
      .duckRace .pinkBox img {
        position: relative;
        width: 77%;
        height: 100%;
      }
     
      .duckRace .problem p {
        position: fixed;
        border-radius: 0%;
        color: black;
        /* text-shadow: 20px 20px 20px black, 0 0 5px rgb(9, 148, 28), 0 0 5px darkblue; */
        font-size:7vw;
        width: 40%;
        left: 26%;
        top: -2%;
       
        z-index: 800;
        cursor: crosshair; 
        margin-top: 0%;
        margin-bottom: 0%;
        cursor: pointer;
        font-family: marvin-round, sans-serif;

        font-weight: 400;

        font-style: normal;

    }
      
     
      
    .duckRace .start {
      position: fixed;
      width: 20%;
      left: 50%;
      top: 50%;
      margin-left: -10%;
      font-family: 'Titan One';
      font-size:5vw;
      color: rgb(14, 150, 168) ;
      border-radius: 30px 30px 30px 30px;
      z-index: 2300;
      cursor: pointer;
      
    }
    .duckRace .buggies{
      position: absolute;
      width: 54%;
      left: 5%;
      top: 67%;
      height: 45%;
      margin-left: 15%;
      font-family: 'Titan One';
      font-size: 5vw;
      color: rgb(175, 54, 54);
      border-radius: 30px 30px 30px 30px;
      z-index: 1300;
      cursor: pointer;
      
    }
    
   
    
    .duckRace .boss {
      position: fixed;
      width: 30%;
      left: 50%;
      top: 0;
      margin-left: -15%;
      z-index: 900;
    }
   
    /* .snowmen {
        /* background-size: 75% 75%;
        background-repeat: no-repeat;
        background-image: url(https://i.imgur.com/peo6gAS.gif); */
        /* cursor: url("https://i.imgur.com/PFfe6oi.png") , auto; */
        
   
  
  
        .duckRace .house .a0 {
      /* width: 92%;
      top: -24%; */
      
  }
   
   
  
  .duckRace .house .a1 {
      /* width: 80%;
      top: -24%; */
  }
   
    
  .duckRace .house .a2 {
      /* width: 79%;
      top: -32%;
      left: 27%; */
  }
    
  
  
  
  .duckRace .house .a3 {
      /* width: 94%;
      top: -3%;
      left: -3%; */
  }
   
  
  .duckRace .house .a4 {
      /* width: 127%;
      top: -14%; */
  }
   
  
  .duckRace .house .a5 {
      /* width: 102%;
      top: -63%; */
  }
   
  .duckRace .house .a6 {
      /* width: 112%;
      top: -43%;
      left: 24%; */
  }
    
  
  .duckRace .house .a7 {
      /* width: 128%;
      top: 10%;
      left: -26%; */
  }
    
    
    
 
    
  .duckRace .win 
     {
      position: fixed;
      width: 50%;
      left:25%;
      top:10%;
      height: 70%;
      z-index: 1700;
     }
    
     .duckRace .lose {
      position: fixed;
      width: 50%;
      left:25%;
      top:-2%;
      height: 70%;
      z-index: 1700;
     }
      
     .duckRace .nextLevel {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #333;
    text-shadow: 9px 5px #333;
    position: fixed;
    width: 40%;
    left: 30%;
    top:60%;
    font-family: 'Titan One';
    font-size:5vw;
    color: rgb(175, 54, 54) ;
    border-radius: 30px 30px 30px 30px;
    z-index: 2200;
    cursor: pointer; 
   
     }
     .duckRace .restart3 {
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #333;
      text-shadow: 9px 5px #333;
      position: fixed;
      width: 40%;
      left: 31.5%;
      top:64%;
      font-family: 'Titan One';
      font-size:5vw;
      color: rgb(175, 54, 54) ;
      border-radius: 30px 30px 30px 30px;
      z-index: 2200;
      cursor: pointer; 
     
       }
       .duckRace .layer {
        background-color: rgba(219, 255, 195, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:2000;
      }
      .duckRace iframe { 
      position: fixed;
      left:20%;
      top:10%;
      width:60%;
      height:70%;
      z-index:2000 ;
      }
      
      .duckRace .skip{
        position: fixed;
      width: 25%;
      left: 38%;
      top: 84%;
      font-family: 'Titan One';
      font-size:2.5vw;
      color:  rgb(14, 150, 168) ;
      border-radius: 30px 30px 30px 30px;
      z-index: 2000;
       }
       .duckRace  .mapIcon {
        position: fixed;
        width:15%;
        top:1%;
        left: -5%;
        z-index: 3000;
        transform: rotateY(180deg);
      }
      .duckRace  .gButton {
        position: fixed;
        top:10%;
        left: 2%;
        z-index: 3000;
        cursor: pointer;
      }
      .duckRace .kart1 {
        background-position: bottom;
        width: 12%;
        position: fixed;
        left: 0%;
        bottom:40%;
        z-index: 700;
    }

  .duckRace .kart3 {
    background-position: bottom;
    width: 12%;
    position: fixed;
    left: 0%;
    bottom:20%;
    z-index: 1200;
  }
  .duckRace .kart4 {
    background-position: bottom;
    width: 12%;
    position: fixed;
    left: 0%;
    bottom:56%;
    z-index: 500;
  }
  .duckRace .wave1 {
    background-position: bottom;
    width: 100%;
    position: fixed;
    height: 32%;
    left: 0%;
    bottom: 0;
    z-index: 1300
  }
  .duckRace .wave2 {
    background-position: bottom;
    width: 100%;
    position: fixed;
    height: 45%;
    left: 0%;
    bottom: 3%;
    z-index: 900;
}
.duckRace .wave3 {
  background-position: bottom;
  width: 100%;
  position: fixed;
  height: 62%;
  left: 0%;
  bottom: 0%;
  z-index: 600;
}
.duckRace .finishDuck{
  background-position: bottom;
  width: 7.5%;
  position: fixed;
  left: 75.5%;
  height: 60%;
  bottom:0%;
  z-index: 1200;
}
/* .duckRace .wave4 {
  background-position: bottom;
  width: 100%;
  height:30%;
  position: fixed;
  left: 0%;
  top: 24%;
  z-index: 200;
} */
