
@keyframes animate
{
  0% {
      top:-10%;
  }
  100% {
         
    top:100%;    
  }
  
}

.molta {
  position: fixed;
  width: 15%;
  top: 37%;
  left: 0%;
  z-index: 500;
}



 .hotGameFour .footer { 
    height: 200px;
    bottom: 0;
    width:100%;
    left:0;
    text-align: center;
    margin: 200px 0px 0px 0px;


}

   
.hotGameFour #timer{
  color:white;
  z-index: 1000;
  position: fixed;
  font-size: 2vw;
  top:2%;
  left:92%;
  font-family: 'Orbitron';

}
.hotGameFour .backbutton{
    position: fixed;
    top:0%;
    z-index: 1400;
}

.hotGameFour .bg_bb1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
}

.hotGameFour .time {
  color: whitesmoke;
  font-size: 2vw;
  }

.hotGameFour .snowball {
  width: 1%;
  position: absolute;
  top: 80%;
  left: 100%;
  margin-left: 9.5%;
  z-index: 1000;

}
.hotGameFour .novaWithHoseMolta {
  width: 13%;
  position: fixed;
  top: 87%;
  left: 46%;
  z-index: 1000;

}


 .hotGameFour body {

    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Titan One';
    overflow: hidden;
  }

  .hotGameFour .hide {
     display: none;
 }
 .hotGameFour .penguin {
  background-repeat: no-repeat;
  z-index: 1000;
 }

 .hotGameFour .answers {
      position: fixed;
      font-size: 5vh;
      height: 50%;
      top: 50%;
      left: 0%;
      width: 100%;
      z-index: 800;
      display: flex;
      flex-wrap: wrap;
  }

  .hotGameFour .house {
      width: 25%;
      cursor: crosshair;  
  }


  .hotGameFour .house .snowmanWrapper {
      width:80%;
      display: inline-block;
      position: relative;
  }

  .hotGameFour .house .snowmanWrapper .flame {
      width: 50%;   
      position: absolute;
    
      left:0px;
      top: 0px;
  }
  .hotGameFour .house .snowmanWrapper .answer {
      position: absolute;
      color: #333;
      font-size: 8vh;
      margin-left: -37%;
      margin-top: 43%;
  }
  .hotGameFour .house .snowmanWrapper .penguin {
      position: absolute;
      width: 50%;
      margin-top: 16%;

  }
.hotGameFour .waterSplash {
  position: absolute;
  width:150%;
  z-index: 10000;
  left:-55%;
}


  .hotGameFour .problem p {
    position: fixed;
    border-radius: 0%;
    color: white;
    text-shadow: 20px 20px 20px black, 0 0 5px rgb(247, 72, 2), 0 0 5px darkblue;
    font-size:11vw;
    width: 40%;
    left: 35%;
    top: 5%;
    font-family: 'Titan One';
    z-index: 800;
    cursor: crosshair; 
    margin-top: 0%;
    margin-bottom: 0%;
  }
 
  .hotGameFour .start {
  position: fixed;
  width: 20%;
  left: 50%;

  top: 50%;
  margin-left: -10%;
  font-family: 'Titan One';
  font-size:5vw;
  color: rgb(175, 54, 54) ;
  border-radius: 30px 30px 30px 30px;
  z-index: 1000;
  cursor: pointer;
  }
  
  .hotGameFour .nextLevel {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #333;
    text-shadow: 9px 5px #333;
    position: fixed;
    width: 40%;
    left: 34%;
    top:63%;
    font-family: 'Titan One';
    font-size:4.4vw;
    color: rgb(175, 54, 54) ;
    border-radius: 30px 30px 30px 30px;
    z-index: 2200;
    cursor: pointer; 
    
  }


.hotGameFour .boss {
  position: fixed;
  width: 30%;
  left: 50%;
  top: 0;
  margin-left: -15%;
  z-index: 900;
}

.hotGameFour .house .a0 {
  position: fixed;
  width: 17%;
  top: 40%;
  animation: animate 15s linear infinite;

 
  
  
}

.hotGameFour .house .a0 .answer {
  left:56%;
  
} 

.hotGameFour .house .a0 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}


.hotGameFour .house .a1 {
  position: fixed;
  width: 17%;
  left:25%;
  top: -24%;
  animation: animate 25s linear infinite;
  
}

.hotGameFour .house .a1 .answer {
  left: 56%;
} 
.hotGameFour .house .a1 .penguin {
  width: 41%;
  margin-top: 24%;
  margin-left: 3%;
  transform: rotateY(180deg);
} 
.hotGameFour .house .a1 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}

.hotGameFour .house .a2 {
  position:fixed;
  width: 17%;
  top: -52%;
  left: 87%;
  animation: animate 14s linear infinite;
 
  
}
.hotGameFour .house .a2 .snowman {
  transform: rotateY(180deg);
}
.hotGameFour .house .a2 .answer {
  left: 53%;
} 
.hotGameFour .house .a2 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;
} 
.hotGameFour .house .a2 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}



.hotGameFour .house .a3 {
  position: fixed;
  width: 17%;
  top: 35%;
  left: 85%;
  animation: animate 29s linear infinite;
 
  
  
}
.hotGameFour .house .a3 .snowman {
  transform: rotateY(180deg);
}
.hotGameFour .house .a3 .answer {
  left: 56%;
} 
.hotGameFour .house .a3 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;

} 

.hotGameFour .house .a3 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}


.hotGameFour .house .a4 {
  position: fixed;
  width: 17%;
  top: -14%;
  animation: animate 28s linear infinite;
  
  
}

.hotGameFour .house .a4 .answer {
  left: 56%;
} 
.hotGameFour .house .a4 .penguin {
  width: 41%;
  margin-top: 24%;
  margin-left: 3%;
  transform: rotateY(180deg);
} 
.hotGameFour .house .a4 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}

.hotGameFour .house .a5 {
  position: fixed;
  width: 17%;
  top: -63%;
  margin-left:-20%;
  animation: animate 13s linear infinite;
}

.hotGameFour .house .a5 .answer {
  left: 53%;
} 
.hotGameFour .house .a5 .penguin {
  width: 41%;
  margin-top: 24%;
  margin-left: 5%;
  transform: rotateY(180deg);
} 
.hotGameFour .house .a5 .splash {
  position: absolute;
  left:-7%;
    margin-top:10%

}

.hotGameFour .house .a6 {
  position: fixed;
  width: 17%;
  top: -43%;
  left: 72%;
  animation: animate 17s linear infinite;
}
.hotGameFour .house .a6 .snowman {
  transform: rotateY(180deg);
}
.hotGameFour .house .a6 .answer {
  left: 53%;
} 
.hotGameFour .house .a6 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;
} 
.hotGameFour .house .a6 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}

.hotGameFour .house .a7 {
  position: fixed;
  width: 17%;
  top: 0%;
  left: 79%;
  animation: animate 25s linear infinite;
}
.hotGameFour .house .a7 .snowman {
  transform: rotateY(180deg);
}
.hotGameFour .house .a7 .answer {
  left: 52%;
} 
.hotGameFour .house .a7 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;
} 
.hotGameFour .house .a7 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}




.hotGameFour .heart {
    float: right;
    height: 7%;
    Width: 7%;
}


.hotGameFour .win 
 {
  position: fixed;
  width: 50%;
  left:30%;
  top:20%;
  height: 60%;
  z-index: 2200;
 }
 .hotGameFour .lose {
  position: fixed;
  width: 55%;
  left:23%;
  top:3%;
  height: 70%;
  z-index: 800;
 }
 .hotGameFour .layer {
  background-color: rgba(255, 117, 117, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:2000;
}
.hotGameFour iframe { 
position: fixed;
left:20%;
top:10%;
width:60%;
height:70%;
z-index:2000 ;
}

.hotGameFour .skip{
  position: fixed;
width: 25%;
left: 38%;
top: 84%;
font-family: 'Titan One';
font-size:2.5vw;
color: rgb(175, 54, 54);
border-radius: 30px 30px 30px 30px;
z-index: 2000;
 }
 .hotGameFour .mapIcon {
  position: fixed;
  width:4%;
  top:4%;
  left: 2%;
  z-index: 3000;
}
.hotGameFour  .gButton {
  position: fixed;
  top:10%;
  left: 2%;
  z-index: 3000;
}
 
  
  
