.slamDunk { 
    
  width: 100vw;
  height: 100vh;
  background-repeat: center;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
@keyframes dunker {
  
  0%   { position: relative; transform: rotate(180deg); right:-100%; bottom:40%;}
  
  /* 25%  { left:17%; top:50%;}
  50%  {left:22%; top:12%;} */
  
  100% {position: relative;transform: rotate(-20deg); right:35%; bottom:40%;}
}
@keyframes hoopster {
  0%   { right:70%; bottom:40%;}
  /* 25%  { left:17%; top:50%;}
  50%  {left:22%; top:12%;} */
  
  100% { right:17%; bottom:40%;}
}
.slamDunk .backgroundSno2 {
  position: fixed;
  width: 250%;
  height:100%;
  left: 0%;
}
.slamDunk #timer {
  color:white;
  z-index: 1000;
  position: fixed;
  font-size: 2vw;
  top:2%;
  left:92%;
  font-family: 'Orbitron';

}
.slamDunk .time {
  color: whitesmoke;
  font-size: 2vw;
  }

  .slamDunk .footer { 
      height: 200px;
      bottom: 0;
      width:100%;
      left:0;
      text-align: center;
      margin: 200px 0px 0px 0px;
  
  }

  .slamDunk .groundSno {
    position: absolute;
    width: 900%;
    height:75%;
    left:-79%;
    top:35%;
    }


  
  .slamDunk .floor {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    left: 100;
    right: 100;
    z-index: 300;
    
  }
  
  /* .slamDunk body {
      
      background-color: white;
      background-size: cover;
      background-position: center;
      font-family: 'Titan One', cursive;
      height: 100vh;
      overflow: hidden;
    } */

    .slamDunk .nextLevel {
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #333;
      text-shadow: 9px 5px #333;
      position: fixed;
      width: 40%;
      left: 24%;
      top:55%;
      
      font-family: 'Titan One';
      font-size:5vw;
      color: rgb(175, 54, 54) ;
      border-radius: 30px 30px 30px 30px;
      z-index: 2200;
      cursor: pointer; 
      }
  
    .slamDunk .answers {
      display: flex;
      flex-flow: row wrap; 
      position: fixed;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      text-shadow: 10px 5px rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      width: 90%;
      height: 15%;
      
      margin-left: -2%;
      top: 57%;
      font-family: 'Titan One';
      z-index: 800;
      
    }
  
    
    .slamDunk .answers div {
        font-size:7vw;
        padding-left: 74px;
        font-family: 'Titan One', cursive;
        height: 9.5%;
        margin-left: 2.5%;
        width: 9.2%;
        color: red;
        text-align: center;
        vertical-align: middle;
        cursor: crosshair;
        z-index: 600;
        
    }
  
    .slamDunk .problem p {
      position: fixed;
      border-radius: 0%;
      color: white;
      text-shadow: 20px 20px 20px black, 0 0 5px rgb(247, 72, 2), 0 0 5px darkblue;
      font-size:11vw;
      width: 40%;
      left: 35%;
      top: 35%;
      font-family: 'Titan One';
      z-index: 800;
      cursor: crosshair; 
      margin-top: 0%;
      margin-bottom: 0%;
	}
	
  

.slamDunk .start {
      position: fixed;
      width: 20%;
      left: 50%;
      top: 50%;
      margin-left: -10%;
      font-family: 'Titan One';
      font-size:5vw;
      color: rgb(175, 54, 54);
      border-radius: 30px 30px 30px 30px;
      z-index: 1900;
  }
  .slamDunk .kart1 {
      background-position: bottom;
      width: 26%;
      position: relative;
     
      z-index: 400;
      animation-name: dunker;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  .slamDunk .astroid {
    background-position: bottom;
    width: 26%;
    position: fixed;
    left: 0%;
    bottom: 10%;
    z-index: 900;

}  
.slamDunk .hoop {

  width: 23%;
  position: relative;
  right:17%;
  bottom: 40%;
  animation-name: hoopster;
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
  
  z-index: 400;
     
 
 
}
.slamDunk .stars {
  background-position: bottom;
  width: 100%;
  position: absolute;
  left: 7%;
  top: -13%;
  height: 110%;
  z-index: 400;
     
  z-index: 400;

}
  .slamDunk .kart2 {
	background-position: bottom;
	width: 34%;
	position: fixed;
	left: 0%;
	bottom: 38%;
	z-index: 400;
}
  

  
  .slamDunk .heart {
      float: right;
      height: 7%;
      Width: 7%;
  }
  
  
  .slamDunk .win 
   {
    position: fixed;
      width: 50%;
      left:20%;
      top:15%;
      height: 60%;
      z-index: 1700;
      
   }
   .slamDunk .lose {
    position: fixed;
    width: 50%;
   
    left:23%;
    top:4%;
    height: 60%;
    z-index: 1700;
   }

   .slamDunk .layer {
    background-color: rgba(255, 117, 117, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2000;
  }
  .slamDunk iframe { 
  position: fixed;
  left:20%;
  top:10%;
  width:60%;
  height:70%;
  z-index:2000 ;
  }
  
  .slamDunk .skip{
    position: fixed;
  width: 25%;
  left: 38%;
  top: 84%;
  font-family: 'Titan One';
  font-size:2.5vw;
  color: rgb(175, 54, 54);
  border-radius: 30px 30px 30px 30px;
  z-index: 2000;
   }
   .slamDunk .mapIcon {
    position: fixed;
    width:4%;
    top:4%;
    left: 2%;
    z-index: 3000;
  }
  .slamDunk  .gButton {
    position: fixed;
    top:10%;
    left: 2%;
    z-index: 3000;
  }
   
    