
.arcadePage { 

  width: 100vw;
  height: 100vh;
  background-repeat: center;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;

}
.arcadePage body{ 

height: 120%;

}

.arcadePage .fwThumb:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}
.arcadePage .sjsThumb:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}
.arcadePage .duckThumb:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}
  a:link {
    text-decoration: none;
}
.arcadePage .opCon .opd:hover{ 
  color: #A252D3;
}
.arcadePage .opCon .opm:hover{ 
  color: #DD1D29;
}
.arcadePage .opCon .ops:hover{ 
  color: #FFB343;
}

.arcadePage .select {
  position: relative;
}


  .arcadePage .arcadeNav {
    color: rgb(72, 182, 255);
  }

  .arcadePage  .opCon {
    /* position: relative; */
    width: 39vw;
    
    /* padding-top: 2%; */
  /* padding-bottom: 11%; */
    margin-left: 30%;
    margin-top: -6%;
    max-height: 500px;
    max-width: 1200px;
    min-width: 80px; 
    
  }
  .arcadePage  .opCon a {
    padding-right: 20px;
    
    margin-left: 20px;
    font-size: 4.5vw;
    max-width: 1000px;
    min-width: 280px; 
    
    

    

  }
  .arcadePage .opCon .opa{
    color: rgb(80, 162, 255);
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
   
    
  }
  .arcadePage .opCon .ops{

    color: white;
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
  
    
  }
  .arcadePage .opCon .opm{

    color:white;
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .arcadePage .opCon .opd{

    color: white;
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
   
    
  }
  .arcadePage .opCon .chg{

    position: rel;
    font-size: 1.3vw;
    font-family: marvin, sans-serif;
    font-weight: 400;
    
   
    font-style: normal;
   
    color: white;
    
  }

  .arcadePage .arcadeBanner {

    /* position: relative; */
  width: 45vw;
  /* padding-top: 2%; */
/* padding-bottom: 11%; */
  margin-left: 0px;
  margin-top: -50px;
  max-height: 500px;
  max-width: 1200px;
  min-width: 280px; 
    
  }
  .arcadePage .duckThumb {

position: relative;
width: 22vw;
 /* padding-top: 2%; */
/* padding-bottom: 11%; */
 right: 5%;
 margin-top: 1%;
 max-height: 500px;
 max-width: 1200px;
 min-width: 80px; 
    
  }
  .arcadePage .sjsThumb {

    position: relative;
    width: 22vw;
     /* padding-top: 2%; */
    /* padding-bottom: 11%; */
     left: -1%;
     margin-top: 1%;
     max-height: 500px;
     max-width: 1200px;
     min-width: 80px; 
        
      }
      .arcadePage .fwThumb {

        position: relative;
         width: 22vw;
         /* padding-top: 2%; */
        /* padding-bottom: 11%; */
         left: 3%;
         margin-top: 1%;
         max-height: 500px;
         max-width: 1200px;
         min-width: 80px; 
            
       }
       .arcadePage .mobileLayer  .mobileInfo{
        background-color: rgba(1, 82, 255, 1);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:1000;
        visibility: hidden;
      
      }
    @media (max-width: 704px) {
      .arcadePage .mobileLayer{
        background-color: rgba(1, 82, 255, 1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:1000;
      
      }
      .arcadePage .mobileLayer  .mobileInfo{
        background-color: rgba(1, 82, 255, 1);
        position: fixed;
        color: white;
        font-size: 5vw;
        top: 20%;
        left: 15%;
        width: 75%;
        height: 100%;
        z-index:1000;
        visibility: visible;
      
      }
      }
        


