
@keyframes animateWild
{
  0% {
      top:-10%;
  }
  100% {
         
    top:70%;    
  }
  
}
@keyframes animateWildn
{
  0% {
      top:-10%;
  }
  100% {
         
    top:45%;    
  }
  
}

.wildGameFour .caveStuff {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: 300;
}



 .wildGameFour .footer { 
    height: 200px;
    bottom: 0;
    width:100%;
    left:0;
    text-align: center;
    margin: 200px 0px 0px 0px;


}

   
.wildGameFour #timer{
  color:white;
  z-index: 1000;
  position: fixed;
  font-size: 2vw;
  top:2%;
  left:92%;
  font-family: 'Orbitron';

}
.wildGameFour .backbutton{
    position: fixed;
    top:0%;
    z-index: 1400;
}

.wildGameFour .bg_bb1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
  z-index: 300;
}



.wildGameFour #time{
  color: whitesmoke;
  font-size: 2vw;
}

.wildGameFour .snowball {
  width: 1%;
  position: absolute;
  top: 80%;
  left: 100%;
  margin-left: 9.5%;
  z-index: 1000;

}
.wildGameFour .dusty {
  width: 100%;
  position: absolute;
  top: 4.2%;
  left: 0%;
  margin-left: 9.5%;
  z-index:100;

}
.wildGameFour .novaWithHoseMolta {
  width: 13%;
  position: fixed;
  top: 87%;
  left: 46%;
  z-index: 1000;

}


 .wildGameFour body {

    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Titan One';
    overflow: hidden;
  }

  .wildGameFour .hide {
     display: none;
 }
 .wildGameFour .penguin {
  background-repeat: no-repeat;
  z-index: 1000;
 }

 .wildGameFour .answers {
      position: fixed;
      font-size: 5vh;
      height: 50%;
      top: 50%;
      left: 0%;
      width: 100%;
      z-index: 1800;
      display: flex;
      flex-wrap: wrap;
  }

  /* .wildGameFour .house {
      width: 25%;
      cursor: crosshair;  
      z-index: 100;
  } */


  .wildGameFour .house .snowmanWrapper {
      width:0%;
      display: inline-block;
      position: relative;
      
  }

  .wildGameFour .house .snowmanWrapper .flame {
      width: 100%;   
      position: absolute;
      left:-32px;
      top: 50px;
  }
  .wildGameFour .house .snowmanWrapper .answer {
      position: absolute;
      color: #333;
      font-size: 8vh;
      margin-left: -37%;
      margin-top: 43%;
      z-index: 1500;
  }
  .wildGameFour .house .snowmanWrapper .penguin {
      position: absolute;
      width: 50%;
      margin-top: 16%;

  }
.wildGameFour .waterSplash {
  position: absolute;
  width:100%;
  z-index: 800;
  left:-9%;
  margin-top:15%;
}


  .wildGameFour .problem p {
    position: fixed;
    border-radius: 0%;
    color: white;
    text-shadow: 20px 20px 20px black, 0 0 5px rgb(247, 72, 2), 0 0 5px darkblue;
    font-size:11vw;
    width: 40%;
    left: 33%;
    top: 5%;
    font-family: 'Titan One';
    z-index: 800;
    cursor: crosshair; 
    margin-top: 0%;
    margin-bottom: 0%;
  }
 
  .wildGameFour .start {
  position: fixed;
  width: 20%;
  left: 50%;

  top: 50%;
  margin-left: -10%;
  font-family: 'Titan One';
  font-size:5vw;
  color: rgb(175, 54, 54) ;
  border-radius: 30px 30px 30px 30px;
  z-index: 1900;
  cursor: pointer;
  }
  
  .wildGameFour .nextLevel {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #333;
    text-shadow: 9px 5px #333;
    position: fixed;
    width: 40%;
    left: 34%;
    top:63%;
    font-family: 'Titan One';
    font-size:5vw;
    color: rgb(175, 54, 54) ;
    border-radius: 30px 30px 30px 30px;
    z-index: 2200;
    cursor: pointer; 
    
  }


.wildGameFour .boss {
  position: fixed;
  width: 30%;
  left: 50%;
  top: 0;
  margin-left: -15%;
  z-index: 900;
}

.wildGameFour .house .a0 {
  position: fixed;
  width: 17%;
  top: 35%;
  left: 55%;
  animation: animateWildn 15s linear infinite;


}


.wildGameFour .house .a0 .answer {
  left: 56%;
  
} 

.wildGameFour .house .a0 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}
.wildGameFour .house .a0 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;
} 


.wildGameFour .house .a1 {
  position: fixed;
  width: 17%;
  left:25%;
  top: -24%;
  animation: animateWild 25s linear infinite;
  
}

.wildGameFour .house .a1 .answer {
  left: 56%;
  z-index: 1500;
} 
.wildGameFour .house .a1 .penguin {
  width: 41%;
  margin-top: 24%;
  margin-left: 3%;
  transform: rotateY(180deg);
  z-index: 200;
} 
.wildGameFour .house .a1 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}

.wildGameFour .house .a2 {
  position: fixed;
  width: 17%;
  top: 35%;
  left: 20%;
  animation: animateWildn 10s linear infinite;
 
  
}
.wildGameFour .house .a2 .snowman {
  transform: rotateY(180deg);
}
.wildGameFour .house .a2 .answer {
  left: 56%;
} 
.wildGameFour .house .a2 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;
} 
.wildGameFour .house .a2 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}



.wildGameFour .house .a3 {
  position: fixed;
  width: 17%;
  top: 35%;
  left: 80%;
  animation: animateWild 20s linear infinite;
 
  
  
}
.wildGameFour .house .a3 .snowman {
  transform: rotateY(180deg);
}
.wildGameFour .house .a3 .answer {
  left: 56%;
} 
.wildGameFour .house .a3 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;

} 

.wildGameFour .house .a3 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}


.wildGameFour .house .a4 {
  position: fixed;
  width: 17%;
  top: -14%;
  animation: animateWild 28s linear infinite;
  
  
}

.wildGameFour .house .a4 .answer {
  left: 56%;
} 
.wildGameFour .house .a4 .penguin {
  width: 41%;
  margin-top: 24%;
  margin-left: 3%;
  transform: rotateY(180deg);
} 
.wildGameFour .house .a4 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}

.wildGameFour .house .a5 {
  position: fixed;
  width: 17%;
  margin-left:-10%;
  top: -63%;
  animation: animateWild 13s linear infinite;
}

.wildGameFour .house .a5 .answer {
  left: 53%;
} 
.wildGameFour .house .a5 .penguin {
  width: 41%;
  margin-top: 24%;
  margin-left: 8%;
  transform: rotateY(180deg);
} 
.wildGameFour .house .a5 .splash {
  position: absolute;
  left:-7%;
    margin-top:10%

}

.wildGameFour .house .a6 {
  position: fixed;
  width: 17%;
  top: -43%;
  left: 72%;
  animation: animateWild 15s linear infinite;
}
.wildGameFour .house .a6 .snowman {
  transform: rotateY(180deg);
}
.wildGameFour .house .a6 .answer {
  left: 53%;
} 
.wildGameFour .house .a6 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;
} 
.wildGameFour .house .a6 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}

.wildGameFour .house .a7 {
  position: fixed;
  width: 17%;
  top: 0%;
  left: 69%;
  animation: animateWild 25s linear infinite;
}
.wildGameFour .house .a7 .snowman {
  transform: rotateY(180deg);
}
.wildGameFour .house .a7 .answer {
  left: 52%;
} 
.wildGameFour .house .a7 .penguin {
  width: 43%;
  margin-top: 22%;
  margin-left: -45%;
} 
.wildGameFour .house .a7 .splash {
  position: absolute;
  left:-7%;
  margin-top:10%
}




.wildGameFour .heart {
    float: right;
    height: 7%;
    Width: 7%;
}


.wildGameFour .win 
 {
  position: fixed;
  width: 50%;
  left:30%;
  top:20%;
  height: 60%;
  z-index: 2200;
 }
 .wildGameFour .lose {
  position: fixed;
  width: 60%;
  left:21%;
  top:-4%;
  height: 75%;
  z-index: 800;
 }
 .wildGameFour .layer {
  background-color: rgba(214, 209, 186, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:2000;
}
.wildGameFour iframe { 
position: fixed;
left:20%;
top:10%;
width:60%;
height:70%;
z-index:2000 ;
}

.wildGameFour .skip{
  position: fixed;
width: 25%;
left: 38%;
top: 84%;
font-family: 'Titan One';
font-size:2.5vw;
color: #705101 ;
border-radius: 30px 30px 30px 30px;
z-index: 2000;
 }
  
 .wildGameFour  .mapIcon {
  position: fixed;
  width:4%;
  top:4%;
  left: 2%;
  z-index: 3000;
}
.wildGameFour  .gButton {
  position: fixed;
  top:10%;
  left: 2%;
  z-index: 3000;
}
 
