.mysticBadgePage {
        width: 100vw;
        height: 100vh;
        background-repeat: center;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
}


.gradeLevels a  {
position: fixed;
top:50%;
}

.selectGame {
    position: fixed;
    color: whitesmoke;
    width:100%;
    font-size: 6vh;
    display: inline-block;
    top:30%;
    left:0%;
    text-align: center;
    cursor: pointer;
}
.newGame {
  position: fixed;
  color: whitesmoke;
  width:100%;
  font-size: 6vh;
  display: inline-block;
  top:40%;
  left:0%;
  text-align: center;
  cursor: pointer;
}
.menu {
    position: fixed;
    font-size:9vh;
    top:50%;
    float:left;
    width:100%;
    text-align:center;
    overflow: auto;
    left:0%;
  }
  .menu a {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    width:100%;
    color:black;
  }
  .g1 {
      background-color: yellow;
      padding: 10%;
  }
  .layerOp {

  }
  .layerOp {
    background-color: rgba(255, 117, 117, 0.65);;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1000;
  }
  iframe { 
  position: fixed;
  left:20%;
  top:10%;
  width:60%;
  height:70%;
  z-index:2000 ;
  }
  
   .skipToGame{
  position: fixed;
  width: 25%;
  left: 38%;
  top: 84%;
  font-family: 'Titan One';
  font-size:2.5vw;
  color: rgb(175, 54, 54);
  border-radius: 30px 30px 30px 30px;
  z-index: 2000;
   }
   .mysticBadgePage .backButton {
     position: fixed;
    top:20%;
    font-size: 40px;
    width: 20vw;
    color: white;
    cursor: pointer;
    z-index: 2000;

  }

   .mysticBadgePage .opCon{
    position: absolute;
    z-index: 999;
    /* font-family: 'Nunito', sans-serif; */
    border-radius: 20%;
    left: 29%;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    
    text-align: center;
    top: 30%;
    /* font-family: Arial,sans-serif; */
    color: #fff;
   
    width: 42vw;
    z-index: 2200;
   }

   .mysticBadgePage .opCon a {
    padding-right: 10px;
    
    margin-left: 20px;
    font-size: 15vh;
    
  }
  .mysticBadgePage .opCon .opa{
    color: rgb(80, 162, 255);
   
    
  }
  .mysticBadgePage .opCon .ops{

    color: #fff;
    
  }
  .mysticBadgePage .opCon .opm{

    color: white;
    
  }
  .mysticBadgePage .opCon .opd{

    color: white;
    
  }
  .mysticBadgePage .opCon .chg{
    font-size: 5vh;
    font-style: italic;
    
    color: #fff;
    
  }