.mysticBadgePage {
        width: 100vw;
        height: 100vh;
        background-repeat: center;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        display: inline-block;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1)};
  100% { transform: scale(1); }
  
}
.gradeLevels a  {
position: fixed;
top:50%;
}

.mysticBadgePage body {
  padding-bottom: 20%;
  height:2500px;
  z-index: 100;
}

.mysticBadgePage footer {
 position: relative;
  z-index: 1000;
  
}


.newGame {
  /* width: 20vw;
  display: inline;
  margin: 0 5px;
  transition: all .2s ease-in-out; */
  position: absolute;

  margin: 0 auto;
  left: 10;
  right: 35%;        
  text-align: center;
  top: 56%;
  font-family: Arial,sans-serif;
  color: #fff;
  width: 30vw;
  cursor: pointer;
  z-index: 100;
}




.selectGame {
  position: absolute;
  
  margin: 0 auto;
  left: 10;
  right: 35%;        
  text-align: center;
  top: 69%;
  font-family: Arial,sans-serif;
  color: #fff;
  width: 30vw;
  cursor: pointer;
  z-index: 100;
}
.arcadePlay {
  position: absolute;
  
  margin: 0 auto;
  left: 35%;
  right: 35%;        
  text-align: center;
  
  top: 82%;
  /* font-family: Arial,sans-serif; */
  color: #fff;
  width: 25vw;
  cursor: pointer;
  z-index: 100;
}



 
  .layerOp {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1000;
  }
  .mysticBadgePage iframe { 
  position: fixed;
  left:20%;
  top:15%;
  width:60%;
  height:70%;
  z-index:2000;
  }
  
   .skipToGame{
  position: fixed;
  width: 25%;
  left: 38%;
  top: 84%;
  font-family: 'Titan One';
  cursor:pointer;
  font-size:2.5vw;
  color: rgb(175, 54, 54);
  border-radius: 30px 30px 30px 30px;
  z-index: 2500;
   }
   .mysticBadgePage .backButton {
     position: fixed;
    top:20%;
    font-size: 40px;
    width: 20vw;
    color: white;
    cursor: pointer;
    z-index: 2000;

  }

   .mysticBadgePage .opCon{
    position: relative;
    background: #000000;
    border: 12px solid #747474;
    box-sizing: border-box;
    box-shadow: 0px 9px 0px #000000;
    border-radius: 24px;

    left: 29%;
    text-align: center;
    top: 180px;
    width: 42vw;
    z-index: 2200;
   }

   .mysticBadgePage .opCon a {
    padding-right: 10px;
    
    margin-left: 20px;
    font-size: 15vh;
    
  }
  .mysticBadgePage .opCon .opa{
    color: #1DA3DD;
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
   
   
    
  }
  .mysticBadgePage .opCon .opa a:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  .mysticBadgePage .opCon .ops{

    color: #FFB343;
    
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .mysticBadgePage .opCon .opm{

    color:  #DD1D29;
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    
  }
  .mysticBadgePage .opCon .opd{

    color: #A252D3;
    font-family: sweet-square-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    
  }
  .mysticBadgePage .opCon .chg{
    font-size: 5vh;
    
    font-family: marvin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
    
  }
  .mysticBadgePage .mysticNav {
    color: rgb(72, 182, 255);
  }
 
  .newGame:hover {
    color: rgb(72, 182, 255);
  }
  .backButton:hover {
    color: rgb(72, 182, 255);
  }

  
  .mysticBadgePage .newGame:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  .mysticBadgePage .selectGame:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  .mysticBadgePage .arcadePlay:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }

  .mysticBadgePage .flipLayer  .flipInfo{
    background-color: rgb(27, 236, 201);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1000;
    visibility: hidden;
  
  }

   .mysticBadgePage .mobileLayer  .mobileInfo{
      background-color: rgba(1, 82, 255, 1);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:1000;
      visibility: hidden;
    
    }
    .mysticBadgePage .okButton{
      position: fixed;
      top:50%;
      left:38%;
      width: 30vw;
      font-family: 'Titan One';
      cursor:pointer;
      font-size:9.5vw;
      color: rgb(175, 54, 54);
      border-radius: 30px 30px 30px 30px;
      z-index: 3500;
      visibility: hidden;
      
    }
  @media (max-width: 704px) {
    .mysticBadgePage .mobileLayer{
      background-color: rgba(1, 82, 255, 1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:1000;
    
    }
    .mysticBadgePage .mobileLayer  .mobileInfo{
      background-color: rgba(1, 82, 255, 1);
      position: fixed;
      color: white;
      font-size: 5vw;
      top: 20%;
      left: 15%;
      width: 75%;
      height: 100%;
      z-index:1000;
      visibility: visible;
    
    }
    }
    @media (min-width: 704px ) and (max-width: 900px) { 
      .mysticBadgePage .flipLayer{
        background-color: rgba(0, 0, 0, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:1000;
      
      }
      .mysticBadgePage .flipLayer  .flipInfo{
        background-color: rgba(0, 0, 0, 0.15);
        position: fixed;
        color: white;
        font-size: 5vw;
        top: 20%;
        left: 15%;
        width: 75%;
        height: 100%;
        z-index:1000;
        visibility: visible;
      
      }
      .mysticBadgePage .okButton{
        position: fixed;
        top:60%;
        left:38%;
        width: 30vw;
        font-family: 'Titan One';
        cursor:pointer;
        font-size:9.5vw;
        color: rgb(175, 54, 54);
        border-radius: 30px 30px 30px 30px;
        z-index: 3500;
        visibility: visible;
      }


    }

  