
 .cozGameThree { 
  width: 100vw;
  height: 100vh;
  background-repeat: center;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.cozGameThree .snowball {
  width: 5%;
  position:absolute;
  top:84%;
  left:84%;
  z-index:2200;

}
 
 .cozGameThree .footer { 
    height: 200px;
    bottom: 0;
    width:100%;
    left:0;
    text-align: center;
    margin: 200px 0px 0px 0px;


}

   
.cozGameThree #timer{
  font-size: 30px;
  z-index: 1000;
  position: fixed;
  top: 0%;
  left: 70%;

}
.cozGameThree .backbutton{
    position: fixed;
    top:0%;
    z-index: 1400;
}

.cozGameThree .bg_cozGameThree {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
}

.cozGameThree #time{
  font-size: 30px;
}


 .cozGameThree body {

    text-align: center;
    background-size: cover;
    background-position: center;
    color: black;
    font-family: 'Titan One';
    overflow: hidden;
  }

  .cozGameThree .hide {
     display: none;
 }
 .cozGameThree .penguin {
  background-repeat: no-repeat;
  z-index: 700;
 }

 .cozGameThree .answers {
      position: fixed;
      
      font-size: 5vh;
      height: 50%;
      top: 50%;
      width: 100%;
      z-index: 1600;
      display: flex;
      flex-wrap: wrap;
  }

  .cozGameThree .house {
      width: 25%;
      cursor: crosshair;  
  }


  .cozGameThree .house .iglooWrapper {
      width:80%;  
      display: inline-block;
      position: relative;
  }

  .cozGameThree .house .iglooWrapper .igloo {
      width: 60%;   
      position: absolute;
    
      left:0px;
      top: 0px;
      z-index: 900;
  }
  .cozGameThree .house .iglooWrapper .answer {
      position: absolute;
      color: rgb(241, 234, 234);
      text-shadow: 20px 20px 20px black, 0 0 5px rgb(102, 83, 43), 0 0 5px darkblue;
      font-size: 8vh;
      left: 25%;
      margin-top: 5%;
      z-index: 900;
  }
  .cozGameThree .house .iglooWrapper .penguin {
      position: absolute;
      width: 500%;
      margin-top: 16%;
      z-index: 700;

  }
.cozGameThree .splash {
  position: absolute;
  width:70%;
  z-index: 10000;
}


  .cozGameThree .problem p {
      position: fixed;
     background-image: url(https://i.imgur.com/asCGPxU.png);
      background-size: 35vw 29vh;
      background-position-y: -60px;
      background-repeat: no-repeat; 
      
      color:white;
      font-size:80px;
      width: 35%;
      height: 19%;
      left: 35%;
      top:-9%;
      font-family: 'Titan One';
      z-index: 800;
      cursor: crosshair; 
  }

 
  .cozGameThree .start {
   position: fixed;
width: 20%;
left: 50%;
top: 50%;
margin-left: -10%;
font-family: 'Titan One';
font-size:5vw;
color: rgb(175, 54, 54) ;
border-radius: 30px 30px 30px 30px;
z-index: 2000;
  }
  
  .cozGameThree .nextLevel {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #333;
    text-shadow: 9px 5px #333;
  position: fixed;
  width: 40%;
  left: 38%;
  top: 54%;
  margin-left: -10%;
  font-family: 'Titan One';
  font-size:4vw;
  color: rgb(175, 54, 54) ;
  border-radius: 30px 30px 30px 30px;
  z-index: 2200;
  cursor: pointer;
    
  }


.cozGameThree .boss {
  position: fixed;
  width: 30%;
  left: 50%;
  top: 0;
  margin-left: -15%;
  z-index: 900;
}

.cozGameThree .house .a0 {
  width: 45%;
  top: -39%;
  left:62%;
  
}

.cozGameThree .house .a0 .answer {
  left: 17%;
  margin-top: -50%;
} 
.cozGameThree .house .a0 .penguin {
  width: 100%;
  margin-top: -54%;
  margin-left: -72%;
  transform: rotateY(180deg);
} 
.cozGameThree .house .a0 .splash {
  position: absolute;
  left:5%;
}


.cozGameThree .house .a1 {
  width: 55%;
  top:40%;
  left:1%;
}

.cozGameThree .house .a1 .answer {
  left: 20%;
  margin-top: -43%;
} 
.cozGameThree .house .a1 .penguin {
  width: 100%;
  margin-top: -50%;
  margin-left: -73%;
  transform: rotateY(180deg);
} 
.cozGameThree .house .a1 .splash {
  position: absolute;
  left:15%;
}

.cozGameThree .house .a2 {
  width: 50%;
  top: -45%;
  left: 20%;
}
.cozGameThree .house .a2 .igloo {
  transform: rotateY(180deg);
}
.cozGameThree .house .a2 .answer {
  left: 17%;
  margin-top: -47%;
} 
.cozGameThree .house .a2 .penguin {
  width: 90%;
  margin-top: -45%;
  margin-left: -64%;
} 



.cozGameThree .house .a3 {
  width: 55%;
  top: -9%;
  left:10%;
  
}
.cozGameThree .house .a3 .igloo {
  transform: rotateY(180deg);
}
.cozGameThree .house .a3 .answer {
  margin-top: -41%;
    left: 19%;
} 
.cozGameThree .house .a3 .penguin {
  width: 86%;
  margin-top: -47%;
  margin-left: -62%;
  z-index: 500;
} 


.cozGameThree .house .a4 {
  width: 70%;
  top: -10%;
  left:30%;
}

.cozGameThree .house .a4 .answer {
  left: 19%;
    margin-top: -37%;
} 
.cozGameThree .house .a4 .penguin {
  width: 80%;
  margin-top: -43%;
  margin-left: -63%;
  transform: rotateY(180deg);
} 
.cozGameThree .house .a4 .splash {
  position: absolute;
  left:5%;
}

.cozGameThree .house .a5 {
  width: 53%;
  top: -120%;
  left:60%;
}

.cozGameThree .house .a5 .answer {
  left: 9%;
  margin-top: -50%;
} 
.cozGameThree .house .a5 .penguin {
  width: 83%;
  margin-top: -47%;
  margin-left: -64%;
  transform: rotateY(180deg);
} 
.cozGameThree .house .a5 .splash {
  position: absolute;
  left:15%;
}

.cozGameThree .house .a6 {
  width: 65%;
  top: 5%;
  left:30%;
}
.cozGameThree .house .a6 .igloo {
  transform: rotateY(180deg);
}
.cozGameThree .house .a6 .answer {
  left: 20%;
  margin-top: -41%;


} 
.cozGameThree .house .a6 .penguin {
  width: 74%;
  margin-top: -40%;
  margin-left: -57%;
}
  


.cozGameThree .house .a7 {
  width: 60%;
  top: -40%;
  left:-25%;
}
.cozGameThree .house .a7 .igloo {
  transform: rotateY(180deg);
}
.cozGameThree .house .a7 .answer {
  left: 19%;
  margin-top: -40%;
} 
.cozGameThree .house .a7 .penguin {
  margin-top: -48%;
  margin-left: -62%;
  width: 89%;
} 




.cozGameThree .heart {
    float: right;
    height: 7%;
    Width: 7%;
}


.cozGameThree .win 
 {
  position: fixed;
  width: 40%;
  left:29%;
  top:20%;
  height: 50%;
  z-index: 2200;
 }
 .cozGameThree .lose {
  position: fixed;
  width: 43%;
  left:29%;
  top:8%;
  height: 60%;
  z-index: 1000;
 }
  
 .cozGameThree .novaWithSling {
  width: 14%;
  position: fixed;
  top: 80%;
  left: 85%;
  z-index: 2200;

}
.cozGameThree .layer {
  background-color: rgba(219, 255, 195, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:2000;
}
.cozGameThree iframe { 
position: fixed;
left:20%;
top:10%;
width:60%;
height:70%;
z-index:2000 ;
}

.cozGameThree .skip{
  position: fixed;
width: 25%;
left: 38%;
top: 84%;
font-family: 'Titan One';
font-size:2.5vw;
color:  rgb(14, 150, 168) ;
border-radius: 30px 30px 30px 30px;
z-index: 2000;
 }