.videosPage {
        width: 100vw;
        height: 100vh;
        background-repeat: center;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        display: inline-block;
}
.videosPage .arcadeBanner {
  position: relative;
      width: 39vw;
      margin-left: 0px;
      max-height: 500px;
      max-width: 1200px;
      min-width: 280px; 
}

/* .videosPage .mathButton {
  padding-top: 20%;
  position: relative;
  margin-top: 20%;
  width: 20vw;
} */

.videosPage  .opCon {
  display: inline-block;
  width:100%;

}
.videosPage  .vidCon {
  margin-top: 5%;
  display: inline-block;
  width:100%;

}

.videosPage .opCon .mathButton {
  width: 20vw;
  display: inline;
  margin: 0 5px;
  transition: all .2s ease-in-out;
  

}
.videosPage .opCon .englishButton {
  width: 20vw;
  display: inline;
  margin: 0 5px;
  transition: all .2s ease-in-out;
}
.videosPage .opCon .scienceButton {
  width: 20vw;
  display: inline;
  margin: 0 5px;
  transition: all .2s ease-in-out;

}

.videosPage .vidCon .doublesThumb {
  width: 20vw;
  display: inline;
  margin: 0 20px;
  transition: all .2s ease-in-out;
  

}
.videosPage .vidCon .comThumb {
  width: 20vw;
  display: inline;
  margin: 0 20px;
  transition: all .2s ease-in-out;
  

}
.videosPage .vidCon .fivesThumb {
  width: 20vw;
  display: inline;
  margin: 0 20px;
  transition: all .2s ease-in-out;
  

}
.videosPage .fivesThumb:hover{ 
  transform: scale(1.1); 
  cursor: pointer;

}
.videosPage .comThumb:hover{ 
  transform: scale(1.1); 
  cursor: pointer;
 
}
.videosPage .doublesThumb:hover{ 
  transform: scale(1.1); 
  cursor: pointer;
 
}
.videosPage .mathButton:hover{ 
  transform: scale(0.9); 
  cursor: pointer;
 
}
.videosPage .englishButton:hover{ 
  transform: scale(0.9); 
  cursor: pointer;
 
}
.videosPage .scienceButton:hover{ 
  transform: scale(0.9); 
  cursor: pointer;
 
}


