.videosPage {
        width: 100vw;
        height: 100vh;
        background-repeat: center;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        display: inline-block;
}
.videosPage .arcadeBanner {
  position: relative;
      width: 39vw;
      margin-left: 0px;
      max-height: 500px;
      max-width: 1200px;
      min-width: 280px; 
}

/* .videosPage .mathButton {
  padding-top: 20%;
  position: relative;
  margin-top: 20%;
  width: 20vw;
} */
